h1,
p {
  font-family: Lato;
}
.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rebeccapurple;
  color: white;
}
.list {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  
}
.option{
  display: flex;
  width:30%
  }
