h1,
p {
  font-family: Lato;
}
.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: white;
  color: white;
}
.list {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.option {
  display: flex;
  width: 30%;
}
.center {
  text-align: center;
  padding: 25px;
  background-color: rgb(255, 219, 88);
  border: 2px solid green;
  border-radius: 5px;
}
.text {
  font-size: 25px;
  font-family: ele;
  font-weight: bold;
  border: 2px solid green;
  border-radius: 5px;
}
